/* media types */
/* fonts */
/* colors */
.page__body {
  margin: 0;
}

.visually-hidden, .footer__logo, .user-store__list {
  position: fixed;
  transform: scale(0);
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background: url("../img/header/Bg-header-mobile.jpg");
  background-size: cover;
  padding: 58px 24px 0 24px;
  height: 449px;
}
@media (min-resolution: 2dppx) {
  .header {
    background: url("../img/header/Bg-header-mobile@2x.jpg");
    background-size: cover;
  }
}
@media (min-width: 760px) {
  .header {
    background: url("../img/header/Bg-header-tablet.jpg");
    background-size: cover;
    height: 742px;
    padding: 71px 64px 0 64px;
  }
}

.header__top-wrapper {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.header__heading {
  align-self: start;
}

.heading {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}
@media (min-width: 760px) {
  .heading {
    text-align: left;
    font-size: 56px;
    line-height: 120%;
  }
}

.header__sample {
  position: relative;
  top: 85px;
}
@media (min-width: 760px) {
  .header__sample {
    top: 131px;
  }
}

@media (min-width: 760px) {
  .logo {
    width: 308px;
  }
}

.header-nav__toggle {
  background: none;
  border: none;
}

.header-nav__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  position: absolute;
  right: 24px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.header-nav__dropdown-heading {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: #505050;
  margin: 8px 0;
  padding: 0;
}

.header-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-nav__list :last-child {
  margin-bottom: 0;
}

.header-nav__item {
  padding: 0;
  margin-bottom: 8px;
}
.header-nav__item a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #505050;
  text-decoration: none;
}

.sample {
  padding: 18px 51px;
  display: flex;
  flex-flow: column;
  text-align: center;
  background: no-repeat url("../img/header/Ad-Mobile.jpg");
  background-size: cover;
  border-radius: 10px;
}
@media (min-resolution: 2dppx) {
  .sample {
    background: url("../img/header/Ad-Mobile@2x.jpg");
  }
}
@media (min-width: 760px) {
  .sample {
    padding: 49.5px 139px;
    background: no-repeat url("../img/header/Ad-Tablet.jpg");
    background-size: cover;
  }
}

.sample__heading {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 121%;
  color: #FFFFFF;
}
@media (min-width: 760px) {
  .sample__heading {
    font-size: 46px;
    line-height: 120%;
  }
}

.sample__text {
  margin: 4px 0 16px 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 149%;
  color: #FFFFFF;
}
@media (min-width: 760px) {
  .sample__text {
    font-size: 24px;
    line-height: 149%;
  }
}

.button {
  background: #FF753A;
  border-radius: 16px;
  border: none;
  color: #FFFFFF;
  padding: 8px 12px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
}
.card {
  display: flex;
  flex-flow: column;
  margin-top: 127px;
}
@media (min-width: 760px) {
  .card {
    margin-top: 205px;
  }
}

.card__line {
  align-self: center;
}

.card__heading {
  margin: 4px 0 34px 0;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #505050;
}
@media (min-width: 760px) {
  .card__heading {
    font-size: 40px;
    line-height: 120%;
  }
}

.card__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
}
@media (min-width: 760px) {
  .card__list {
    display: flex;
    flex-wrap: wrap;
    width: 896px;
  }
  .card__list :nth-child(2n) {
    margin-right: 0;
  }
}

.card__item-wrapper {
  margin: 0 0 34px 0;
}
@media (min-width: 760px) {
  .card__item-wrapper {
    margin-right: 32px;
  }
}

.card__item {
  height: 391px;
  width: 328px;
  margin-bottom: 0;
  box-shadow: 0 2px 4px rgba(28, 5, 77, 0.1), 0 12px 32px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
@media (min-width: 760px) {
  .card__item {
    width: 432px;
  }
}

.card__description-container {
  display: grid;
  grid-template-areas: "Brand Price" "Desc Desc" "Avail Avail";
  padding: 16px 24px 24px 24px;
  border-radius: 0 0 10px 10px;
  background: white;
  box-shadow: 0 2px 4px rgba(28, 5, 77, 0.1), 0 12px 32px rgba(0, 0, 0, 0.05);
}

.card__brand, .card__price {
  grid-area: Brand;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #252525;
}

.card__price {
  grid-area: Price;
  text-align: right;
}

.card__description-text {
  margin: 6px 0 29px 0;
  grid-area: Desc;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #767676;
}

.card__availability {
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  width: max-content;
  padding: 0 5px;
  grid-area: Avail;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 150%;
  color: #505050;
}
.card__availability em {
  font: inherit;
  font-weight: bold;
}

.new__heading {
  margin-top: 0;
}

.new-item__img-container {
  background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%);
  border-radius: 10px 10px 0 0;
  justify-items: center;
}

.new-item__img {
  display: block;
  position: relative;
  bottom: 20px;
  margin: 0 auto;
}

.popular {
  background-color: #ECECEC;
  padding-top: 48px;
  margin-top: 0;
}
@media (min-width: 760px) {
  .popular {
    padding-top: 88px;
  }
}

@media (min-width: 760px) {
  .popular__heading {
    margin-bottom: 42px;
  }
}

@media (min-width: 760px) {
  .popular__list {
    width: 850px;
  }
}

@media (min-width: 760px) {
  .popular__item {
    width: 409px;
  }
}

.popular-item__img-container {
  height: 252px;
  background: white;
  border-radius: 10px 10px 0 0;
}

.popular-item__img {
  display: block;
  position: relative;
  bottom: 20px;
  margin: 0 auto;
}

.articles {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 40px;
}
@media (min-width: 760px) {
  .articles {
    margin-top: 80px;
  }
}

@media (min-width: 760px) {
  .articles__heading {
    margin-bottom: 42px;
  }
}

.articles__list {
  list-style: none;
  margin: 0;
  padding: 0 0 32px 0;
}
@media (min-width: 760px) {
  .articles__list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 894px;
  }
  .articles__list :nth-child(2) {
    margin-right: 0;
  }
  .articles__list :nth-child(5) {
    margin-right: 0;
  }
}

.articles__item {
  margin-top: 24px;
  order: 2;
}
@media (min-width: 760px) {
  .articles__item {
    margin-top: 0;
    margin-bottom: 48px;
    margin-right: 32px;
  }
}

.article__description-container, .article__description-container--alt {
  margin-top: -4px;
  padding: 32px;
  background-color: #EAEAEA;
  border-radius: 0 0 10px 10px;
}

.article__title, .article__title--alt {
  margin: 0 0 4px 0;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #252525;
}

.article__subhead, .article__subhead--alt {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #767676;
}

.article__description-container--alt {
  background-color: #252525;
}

.article__title--alt {
  color: #FFFFFF;
}

.article__subhead--alt {
  color: #C4C4C4;
}

.article__first-row {
  order: 1;
}

.article__desktop-only {
  position: fixed;
  transform: scale(0);
}
@media (min-width: 1225px) {
  .article__desktop-only {
    position: static;
    transform: none;
  }
}

.footer {
  background-color: #505050;
  color: #FFFFFF;
}

.footer__user-menu {
  padding-top: 25px;
}
@media (min-width: 760px) {
  .footer__user-menu {
    display: grid;
    grid-template-columns: 141px 118px 1fr;
    grid-column-gap: 48px;
    padding: 69px 64px 52px 64px;
  }
}

.user-menu__list, .user-store__list {
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 9px;
}
@media (min-width: 760px) {
  .user-menu__list, .user-store__list {
    align-items: start;
  }
}

@media (min-width: 760px) {
  .user-store__list {
    position: static;
    transform: none;
  }
}

.user-menu__line {
  stroke: #FFFFFF;
}

.user-menu__header {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
}

.user-menu__item {
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
}

@media (min-width: 760px) {
  .footer__logo-social {
    display: grid;
    grid-template-rows: 1fr min-content;
    justify-items: end;
    align-items: end;
  }
}

@media (min-width: 760px) {
  .footer__logo {
    position: static;
    transform: none;
    margin-bottom: 27px;
  }
}

.footer__socials {
  display: flex;
  margin: 32px 0;
  justify-content: center;
  column-gap: 12px;
}
@media (min-width: 760px) {
  .footer__socials {
    margin: 0;
    height: 20px;
  }
}

.footer-credentials {
  background-color: #252525;
  padding: 8px 0;
}
@media (min-width: 760px) {
  .footer-credentials {
    padding-left: 64px;
  }
}

.credentials {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 140%;
  text-align: center;
}
@media (min-width: 760px) {
  .credentials {
    text-align: start;
  }
}

/*# sourceMappingURL=style.css.map */
