/* media types */
$mobile-only: 759px;
$tablet: 760px;
$desktop: 1225px;

/* fonts */
$font-headings: 'Work Sans', sans-serif;
$font-body: 'Montserrat', sans-serif;

/* colors */
$header: #FFFFFF;
$button: #FF753A;

$card-headings: #505050;
$card-main: #252525;
$card-description: #767676;
$card-linear: linear-gradient(134.57deg, #FFFFFF 0%, #D3D3D3 100%);

$popular-background: #ECECEC;

$article-title: #EAEAEA;
$article-subhead: #767676;
$article-background: #EAEAEA;
$article-title-alt: #FFFFFF;
$article-subhead-alt: #C4C4C4;
$article-background-alt: #252525;

$footer: #FFFFFF;
$footer-background: #505050;
$footer-credits-background: #252525;




