.card {
  display: flex;
  flex-flow: column;
  margin-top: 127px;

  @media(min-width: $tablet) {
    margin-top: 205px;
  }

}

.card__line {
  align-self: center;
}

.card__heading {
  margin: 4px 0 34px 0;
  text-align: center;
  font-family: $font-headings;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;

  color: $card-headings;
  @media(min-width: $tablet) {
    font-size: 40px;
    line-height: 120%;
  }
}

.card__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;

  @media(min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 896px;
    :nth-child(2n) {
      margin-right: 0;
    }
  }
  @media(min-width: $desktop) {
    width: 1264px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 32px;
  }
}

.card__item-wrapper {
  margin: 0 0 34px 0;
  @media(min-width: $tablet) {
    margin-right: 32px;
  }
  @media(min-width: $desktop) {
    margin-right: 0;
  }
}

.card__item {
  height: 391px;
  width: 328px;
  margin-bottom: 0;
  box-shadow: 0 2px 4px rgba(28, 5, 77, 0.1), 0 12px 32px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  @media(min-width: $tablet) {
    width: 432px;
  }
  @media(min-width: $desktop) {
    width: 400px;
  }
}

.card__description-container{
  display: grid;
  grid-template-areas:
          "Brand Price"
          "Desc Desc"
          "Avail Avail";
  padding: 16px 24px 24px 24px;
  border-radius: 0 0 10px 10px;
  background: white;
  box-shadow: 0 2px 4px rgba(28, 5, 77, 0.1), 0 12px 32px rgba(0, 0, 0, 0.05);
}



.card__brand{
  grid-area: Brand;
  margin: 0;
  font-family: $font-headings;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: $card-main;
}

.card__price{
  @extend .card__brand;
  grid-area: Price;
  text-align: right;
}

.card__description-text {
  margin: 6px 0 29px 0;
  grid-area: Desc;
  font-family: $font-headings;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  color: $card-description;

}

.card__availability {
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  width: max-content;
  padding: 0 5px;

  grid-area: Avail;
  font-family: $font-body;
  font-size: 12px;
  line-height: 150%;
  color: $card-headings ;
  em {
    font: inherit;
    font-weight: bold;
  }
}

.card__desktop-hidden {
  @media(min-width: $desktop) {
    position: fixed;
    transform: scale(0);
  }
}