.footer {
  background-color: $footer-background;

  color: $footer;
}

.footer__user-menu {
  padding-top: 25px;

  @media(min-width: $tablet) {
    display: grid;
    grid-template-columns: 141px 118px 1fr;
    grid-column-gap: 48px;
    padding: 69px 64px 52px 64px;
  }
}

.user-menu__list {
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 9px;

  @media(min-width: $tablet) {
    align-items: start;

  }

}

.user-store__list {
  @extend .user-menu__list;
  @extend .visually-hidden;
  @media(min-width: $tablet) {
    position: static;
    transform: none;
  }
}

.user-menu__line {
  stroke: $footer;
}

.user-menu__header {
  margin: 0;
  font-family: $font-headings;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
}



.user-menu__item {
  font-family: $font-headings;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
}

.footer__logo-social {
  @media(min-width: $tablet) {
    display: grid;
    grid-template-rows: 1fr min-content;
    justify-items: end;
    align-items: end;
  }
}

.footer__logo {
  @extend .visually-hidden;
  @media(min-width: $tablet) {
    position: static;
    transform: none;
    margin-bottom: 27px;
  }
}

.footer__socials {
  display: flex;
  margin: 32px 0;
  justify-content: center;
  column-gap: 12px;
  @media(min-width: $tablet) {
    margin: 0;
    height: 20px;
  }
}

.footer-credentials {
  background-color: $footer-credits-background;
  padding: 8px 0;
  @media(min-width: $tablet) {
  padding-left: 64px;
  }
}

.credentials {
  margin: 0;
  font-family: $font-body;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 140%;

  text-align: center;
  @media(min-width: $tablet) {
    text-align: start;
  }
}
