

.header{
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  background: url('../img/header/Bg-header-mobile.jpg');
  background-size: cover;
  padding: 0 24px;

  @media(min-resolution: 2dppx) {
    background: url('../img/header/Bg-header-mobile@2x.jpg');
  }

}
.header__top-wrapper {
  display:flex;
  justify-content: space-between;
  margin-top: 58px;
  height: 40px;
}

.header__heading {
  margin-top: 100px;
}

.heading {
  margin: 0;
  font-family: $font-headings;
  font-weight: bold;
  font-size: 32px;
  line-height:  120%;
  text-align: center;

  color: $header;

}
.header__sample {
  position: relative;
  top: 85px;

}
