

.header{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background: url('../img/header/Bg-header-mobile.jpg');
  background-size: cover;
  padding: 58px 24px 0 24px;
  height: 449px;



  @media(min-resolution: 2dppx) {
    background: url('../img/header/Bg-header-mobile@2x.jpg');
    background-size: cover;
  }

  @media(min-width: $tablet) {
    background: url('../img/header/Bg-header-tablet.jpg');
    background-size: cover;
    height: 742px;
    padding: 71px 64px 0 64px;

  }

}
.header__top-wrapper {
  display:flex;
  justify-content: space-between;
  height: 40px;

}

.header__heading {
  align-self: start;
}

.heading {
  margin: 0;
  font-family: $font-headings;
  font-weight: bold;
  font-size: 32px;
  line-height:  120%;
  text-align: center;

  color: $header;
  @media(min-width: $tablet) {
    text-align: left;
    font-size: 56px;
    line-height: 120%;
  }

}
.header__sample {
  position: relative;
  top: 85px;
  @media(min-width: $tablet) {
    top: 131px;
  }

}

.logo {
  @media(min-width: $tablet){
    width: 308px;
  }
}
