.new-item__img-container {
  max-height: 252px;
  background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%);
  border-radius: 10px 10px 0 0;
}

.new-item__img {
  position: relative;
  left: 6px;
  bottom: 20px;
}