.popular {
  background-color: $popular-background;
  padding-top: 48px;
  margin-top: 0;
  @media(min-width: $tablet) {
    padding-top: 88px;
  }
}

.popular__heading {
  @media(min-width: $tablet) {
    margin-bottom: 42px;
  }
}

.popular__list {
  padding-bottom: 1px;

  @media(min-width: $tablet) {
    padding-bottom: 46px;
    width: 850px;
  }
  @media(min-width: $desktop) {
    padding-bottom: 54px;
    width: 1264px;
  }
}

.popular__item {
  @media(min-width: $tablet) {
    width: 409px;
  }
  @media(min-width: $desktop) {
    width: 400px;
  }
}

.popular-item__img-container {
  height: 252px;
  background: white;
  border-radius: 10px 10px 0 0;
}

.popular-item__img {
  display: block;
  position: relative;
  bottom: 20px;
  margin: 0 auto;
}
