.sample {
  padding: 18px 51px;
  display: flex;
  flex-flow: column;
  text-align: center;

  background: no-repeat url("../img/header/Ad-Mobile.jpg");
  background-size: cover;
  border-radius: 10px;

  @media(min-resolution: 2dppx) {
    background: url('../img/header/Ad-Mobile@2x.jpg');
  }
  @media(min-width: $tablet) {
    padding: 49.5px 139px;

    background: no-repeat url("../img/header/Ad-Tablet.jpg");
    background-size: cover;
  }


}

.sample__heading {
  margin: 0;
  font-family: $font-headings;
  font-weight: bold;
  font-size: 21px;
  line-height: 121%;

  color: $header;
  @media(min-width: $tablet) {
    font-size: 46px;
    line-height: 120%;
  }
}

.sample__text {
  margin: 4px 0 16px 0;
  font-family: $font-headings;
  font-weight: 600;
  font-size: 10px;
  line-height: 149%;

  color: $header;
  @media(min-width: $tablet) {
    font-size: 24px;
    line-height: 149%;
  }
}

.button{
  background: #FF753A;
  border-radius: 16px;
  border: none;
  color: $header;
  padding: 8px 12px;

  font-family: $font-headings;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  @media(min-width: $tablet) {

  }
}

